

  <div class="container">
    <div class="content">
        <form action="formulário">
          <h1>Formulário</h1>
          <br>
          <div>
           
              <div>
  
                <label for="Escreva a task"> Task:</label>
                  <input type="text" id="task" />
                  <br>
                  <br>
              </div>
              <div>
                  <label for="Descreva a task">Escreva a Task:</label>
                  <input type="email" id="mail" />
                  <br>
                  <br>
              </div>
              <div>
                  <label for="data">Data que inicia:</label>
                  <input type="date">
                  <br>
                <br>
                  <label for="data">Data que Termina:</label>
                  <input type="date">
                  <br>
              </div>
              <div class="button">
                  <button type="submit">Enviar</button>
              </div>
          
          
          </div>
        </form>
    </div>
  </div>
 