<div class="container ">
    <div class="user-info">

        <div class="profile">

            <div class="img"></div>
            <h2>Hello, Gaby!</h2>

        </div>



        <div class="menu">
            <ul>
                <li>
                    <i class='bx bxs-dashboard'></i>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <i class='bx bx-user-circle'></i>
                    <a href="#">my Profile</a>
                </li>
                <li>
                    <i class='bx bx-list-ul'></i>
                    <a href="#">My Subscription</a>
                </li>
                <li>
                    <i class='bx bxs-balloon'></i>
                    <a href="#">My Lisyings</a>
                </li>
                <li>
                    <i class='bx bx-plus'></i>
                    <a href="#">Add New Listing</a>
                </li>
            </ul>


        </div>


    </div>

    <div class="content">
        <div class="search">
            <div class="date">
                <h4>Dashboard</h4>
                <h5>data</h5>
            </div>
            <div class="input">
                <input type="text" name="pesq" id="pesq" placeholder="search...">
                <div class="icon">
                    <i class='bx bx-search-alt'></i>
                </div>
    
            </div>
        </div>
        <div class="info"></div>
        <div class="adm"></div>


        <div class="user">

        </div>
    
    </div>

    <div class="user"></div>
</div>