.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgb(184, 193, 204);
    color: rgb(12, 7, 1);
}
 
.container .header {
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
}
